<?xml version="1.0"?>
<launch>
    <arg name="limited" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="world" default="worlds/empty.world"/>
    <arg name="x"   default="0.0"/>
    <arg name="y"   default="0.0"/>
    <arg name="z"   default="0.0"/>
    
    <param name="use_sim_time" value="true" />
    
	<!-- send robot urdf to param server -->
    <!-- Platform specific robot state publisher and parameters -->
    <include file="$(find mav3k_description)/launch/mav3k_upload.launch"/>
	
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <param name="publish_frequency" type="double" value="100.0" />
        <param name="tf_prefix" value=""/>
    </node>

    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model vector -x $(arg x) -y $(arg y) -z $(arg z)" respawn="false" output="screen" />
  
    <node pkg="si_utils" type="timed_roslaunch"
        args="5 mav3k_gazebo spawn_controllers.launch"
        name="controller_spawners" output="screen"/>

    <node pkg="si_utils" type="timed_roslaunch"
        args="10 mav3k_gazebo sensor_filters.launch"
        name="sensor_filters" output="screen"/>

</launch>
