<?xml version="1.0"?>
<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find mav3k_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
    <param name="use_sim_time" value="true" />

    <include file="$(find mav3k_gazebo)/launch/mav3k.launch">
        <arg name="world" value="$(find mav3k_gazebo)/worlds/test_zone.sdf"/>
    </include>

</launch>
