<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\file      vector.urdf.xacro
\authors   Patrick Hussey
\copyright Copyright (c) 2015, Stanley Innovation, Inc., All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Stanley Innovation nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="mav3k" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Included URDF/XACRO Files -->    

    <xacro:include filename="$(find mav3k_description)/urdf/vector_components/mav3k_base.urdf.xacro" />
    <xacro:include filename="$(find mav3k_description)/urdf/mav3k_accessories.urdf.xacro" />
    
    <xacro:property name="M_PI" value="3.14159"/>
	<gazebo>
	    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> 
	      <robotNamespace>/</robotNamespace>
	      <legacyModeNS>true</legacyModeNS>
	    </plugin> 
	    <plugin name="object_controller" filename="libgazebo_ros_force_based_move_omni.so">
            <commandTopic>/vector/cmd_vel</commandTopic>
            <odometryTopic>/vector/odometry/local_filtered</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>100.0</odometryRate>
            <robotBaseFrame>base_link</robotBaseFrame>
            <publishOdometryTf>true</publishOdometryTf>
            <yaw_velocity_p_gain>8000.0</yaw_velocity_p_gain>
            <x_velocity_p_gain>10000.0</x_velocity_p_gain>
            <y_velocity_p_gain>10000.0</y_velocity_p_gain>
	    </plugin>
	</gazebo>

    <xacro:mav3k_base/>

    <!-- Setup any accessories defined in the environment -->
    <xacro:mav3k_accessories/>
    
</robot>
