<?xml version="1.0"?>

<model>
  <name>Waypoint Panel
  </name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nick Varas</name>
    <email>nickv@waypointrobotics.com</email>
  </author>

  <author>
    <name>Nick Varas</name>
  </author>

  <description>
    A Waypoint Robotics sign.
  </description>
</model>
